<div class="jumbotron">
	<h1>About Us</h1>
	<p>Comment Clubbers is an online community that allows established and new bloggers to gain momentum on their blog posts by giving and receiving quality comments on their blogs.</p>
</div>