<div class="jumbotron">
	<h1>About Us</h1>
	<p>Comment Clubbers is an online community that allows established and new bloggers to gain momentum on their blog posts by giving and receiving quality comments on their blogs.</p>

	<h2>You're inside Comment Clubbers v.1</h2>

	<p>This is the first ever version of Comment 	Clubbers. We'll be launching the full version soon, but for now, you can create an account, sign in, and connect with other comment club members through a community chat area.
	</p>

	<h2>Comment Clubbers was born when Brooklyn Fisher first created the facebook group where bloggers were able to share links to their blog posts and exchange quality comments.</h2> 

	
	<p>Since then, the club has grown so much that the team decided to build a separate platform! Here it is!
	</p>

	<p>This platform is being built by non-techies- a couple of designers who are NOT programmers to begin with, who have learned to code through this project. The platform will get better and better as the CC team adds key features and incorporate various forms of user feedback.
	</p>


</div>