<div class="jumbotron">
	<h1>About Us</h1>
	<p>We are working on building Comment Clubbers</p>
	<p>Comment Clubbers is an online community that allows established and new bloggers to gain momentum on their blog posts by giving and receiving quality comments via other bloggers participating in the network.</p>
</div>