<div class="jumbotron center">
	<h1>Welcome!</h1>
	<h2>Become a Comment Clubber today.</h2>
	<p>
		<%= link_to "Log In", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>